[submodule "contrib/clib"]
	path = clib
	url = https://github.com/swi-to-yap/packages-clib
[submodule "contrib/plunit"]
	path = plunit
	url = https://github.com/swi-to-yap/packages-plunit
[submodule "contrib/sgml"]
	path = sgml
	url = https://github.com/swi-to-yap/packages-sgml
[submodule "contrib/http"]
	path = http
	url = https://github.com/swi-to-yap/packages-http
[submodule "contrib/RDF"]
	path = RDF
	url = https://github.com/swi-to-yap/packages-RDF
[submodule "contrib/zlib"]
	path = zlib
	url = https://github.com/swi-to-yap/packages-zlib
[submodule "contrib/pldoc"]
	path = pldoc
	url = https://github.com/swi-to-yap/packages-pldoc
[submodule "contrib/pengines"]
	path = pengines
	url = https://github.com/swi-to-yap/packages-pengines
[submodule "contrib/swish"]
	path = swish
	url = https://github.com/swi-to-yap/swish
[submodule "contrib/ClioPatria"]
	path = ClioPatria
	url = https://github.com/swi-to-yap/ClioPatria
[submodule "contrib/semweb"]
	path = semweb
	url = https://github.com/swi-to-yap/packages-semweb
[submodule "contrib/ssl"]
	path = ssl
	url = https://github.com/swi-to-yap/packages-ssl
